@model jobSearch.ViewModel.LoginVM
@{
    ViewData["Title"] = "Вход";
}

<div class="w-75 center-block">
    <div class="login-block bg-dark-light">
        <img src="assets/img/logo.png" alt="">
        <h1>Вход в аккаунт</h1>

        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="EmailAddress" class="form-control" placeholder="E-Mail" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Пароль" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-outline-success float-right" type="submit" value="Вход" />
                <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Отмена</a>
            </div>
        </form>
    </div>

    <div class="login-links">
        <a class="pull-right" asp-controller="Account" asp-action="Register">Создать аккаунт</a>
    </div>
</div>