@{
    ViewData["Title"] = "Вход";
}

<div class="w-75 center-block">
    <div class="login-block">
        <img src="assets/img/logo.png" alt="">
        <h1>Вход в аккаунт</h1>

        <form action="#">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ti-email"></i></span>
                    <input type="text" class="form-control" placeholder="Почта">
                </div>
            </div>

            <hr class="hr-xs">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ti-unlock"></i></span>
                    <input type="password" class="form-control" placeholder="Пароль">
                </div>
            </div>

            <button class="btn btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>

    <div class="login-links">
        <a class="pull-right" asp-controller="Account" asp-action="Register">Создать аккаунт</a>
    </div>
</div>